@use '../../styles/main.sass' as *


.navbar__container

    position: sticky
    top: 0
    z-index: 100
    font-size: 1.25rem
    display: flex
    padding: 1*16px 6.5*16px
    justify-content: space-between
    align-items: center
    align-self: stretch
    border-bottom: 1px solid $light-gray
    background: $light
    width: 100%
    &__logo 
        display: flex
        justify-content: center
        align-items: center
        gap: 0.75*16px
        &-image
            display: flex
            width: 1.25*16px
            height: 1.25*16px
            justify-content: center
            align-items: center
            & img
                width: 1.25*16px
                height: 1.25*16px
                flex-shrink: 0
        &-text
            display: flex
            justify-content: center
            align-items: center
            text-align: center
            font-size: 1.5*16px
            font-weight: 600
            & .apocalix
                color: $dark
            & .slash
                color: $light-gray
    &__links
        display: flex
        justify-content: center
        align-items: center
        gap: 1*16px
        &-sections
            display: flex
            align-items: flex-start
            gap: 1*16px
            & p
                color: $gray
                transition: color 0.2s ease-in-out
        &-button
            display: flex
            padding: 0.5*16px
            justify-content: center
            align-items: center
            gap: 0.25*16px
            border-radius: 1.5*16px
            
            background: $light-gray
            transition: background 0.2s ease-in-out
            .spanish-text
                color: $gray
                transition: color 0.2s ease-in-out
            &:hover
                background: $red
                transition: background 0.2s ease-in-out
                .spanish-text
                    color: $light-gray
                    transition: color 0.2s ease-in-out



.navbar__container
    &__logo
        &-image:hover
            cursor: pointer
        & .apocalix
            cursor: pointer
    &__links
        &-sections
            & p:hover
                color: $red
                cursor: pointer
                transition: color 0.2s ease-in-out
        &-button:hover
            cursor: pointer
    

@keyframes blink 
  0% 
    opacity: 1
  50% 
    opacity: 0
  100% 
    opacity: 1

.blink 
  animation: blink 1s infinite




@media screen and (max-width: 1500px)
    .navbar__container
        font-size: 0.75rem
        &__logo
            &-image
                & img
                    width: 1rem
                    height: 1rem
            &-text
                font-size: 1.25rem
        &__links
            &-sections
                font-size: 1rem
            &-button
                .spanish-text
                    font-size: 1rem
                & .button
                    padding: 0.5rem 1.5rem
                    border-radius: 1rem
                    & p
                        font-size: 1rem


@media screen and (max-width: 1250px)