@use '../../styles/main.sass' as *

.header__container
    display: flex
    height: 1080px
    padding: 4*16px 6.5*16px
    justify-content: space-between
    align-items: center
    
    overflow: hidden
    position: relative
    border-bottom: 1px solid #e7e7e7

    .bg
        position: absolute
        opacity: 0.1
        left: 0
        top: 0
        width: 100%
        height: auto
        z-index: -1
    &-content
        &-info
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            position: relative
            &_text
                & h2
                    font-size: 4*16px
                    font-weight: 600
                & p
                    font-size: 2.5*16px
                & span
                    color: $red
            &_button
                display: flex
                padding: 1.5*16px 0
                align-items: flex-start
                gap: 0.5*16px
                align-self: stretch
                .button
                    padding: 1*16px 3*16px
                    border-radius: 1.5*16px
                    font-size: 2.5*16px
                    background: $light-gray

    &-image
        & img
            width: 100%

